body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.apply{
  background-image: url("../images/pantallas/aplica.png");
  background-size: 100%, auto;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-box{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 2000px;
  padding-top: 23%;
}


.content-box h3{
  color: white;
  size: .9em;
  font-family: Avenir;
  text-transform: uppercase;
}


.content-box h5{
  color: white;
  size: .6em;
  font-family: Avenir;
  text-transform: uppercase;
}


.content-box p{
  color: white;
  size: .3em;
  font-family: Avenir;

}
