<section id="equipo" ng-controller="equipoCrl as equipo">
  <header class="col-xs-12">
    <div>
      <div class="rayitaSubitulo"></div>
      <div class="rayitaSubitulo2"></div>
    </div>
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2"><span>EQUIPO</span></h2>
    <h4 class="col-xs-12 col-sm-8 col-sm-offset-2">Conoce a parte de nuestro equipo.</h4>
  </header>
  <!-- pestañas/Tabs -->
  <section ng-init="tab = 1" class="nosotrosSeccion col-xs-12">
    <div class="col-xs-12">
      <div class="equipoPestanas col-xs-12">
        <!--<a ng-click="tab = 1" class="col-xs-12 col-sm-2 col-sm-offset-3 equipoPestanas_button" ng-class="{ equipoPestana_activo:tab === 1 }" href="">Equipo Organizador</a>-->
        <!--<a ng-click="tab = 2" class="col-xs-12 col-sm-2 equipoPestanas_button" ng-class="{ equipoPestana_activo:tab === 2 }" href="">Jueces</a>
        <a ng-click="tab = 3" class="col-xs-12 col-sm-2 equipoPestanas_button" ng-class="{ equipoPestana_activo:tab === 3 }" href="">Mentores</a>-->
      </div>
    </div>
    <!-- tarjetas -->
    <!-- tarjetas Organizadores -->
    <div ng-show="tab === 1" class="col-xs-12">
      <h3 class="equipoSubtitulo col-xs-12">EQUIPO ORGANIZADOR</h3>
      <div class="cardDeck col-xs-12 col-sm-10 col-sm-offset-1">
          <a class="equipoCard col-xs-12 col-sm-3" ng-repeat="integrante in equipo.integrantes" data-toggle="modal" data-target="#{{integrante.nombre}}Modal">
            <div class="CardFront">
              <img ng-src="/assets/img/Perfiles/{{integrante.foto}}" alt="Foto de {{integrante.nombre}}" />
              <h4><span>{{integrante.nombre}}</span></h4>
              <h4>{{integrante.carrera}}</h4>
            </div>
          </a>
        </div>
    </div>
    <!-- tarjetas Jueces -->
    <div ng-show="tab === 2" class="col-xs-12">
      <h3 class="equipoSubtitulo col-xs-12">JUECES</h3>
      <div class="cardDeck col-xs-12 col-sm-10 col-sm-offset-1">
          <a class="equipoCard col-xs-12 col-sm-3" ng-repeat="juez in equipo.jueces" data-toggle="modal" data-target="#{{juez.nombre}}Modal">
            <div class="CardFront">
              <img ng-src="/assets/img/Perfiles/{{juez.foto}}" alt="Foto de {{juez.nombre}}" />
              <h4><span>{{juez.nombre}}</span></h4>
              <h4>{{juez.carrera}}</h4>
            </div>
          </a>
        </div>
    </div>
    <!-- tarjetas Mentores -->
    <div ng-show="tab === 3" class="col-xs-12">
      <h3 class="equipoSubtitulo col-xs-12">MENTORES</h3>
      <div class="cardDeck col-xs-12 col-sm-10 col-sm-offset-1">
          <a class="equipoCard col-xs-12 col-sm-3" ng-repeat="mentor in equipo.mentores" data-toggle="modal" data-target="#{{mentor.nombre}}Modal">
            <div class="CardFront">
              <img ng-src="/assets/img/Perfiles/{{mentor.foto}}" alt="Foto de {{mentor.nombre}}" />
              <h4><span>{{mentor.nombre}}</span></h4>
              <h4>{{mentor.carrera}}</h4>
            </div>
          </a>
        </div>
      </div>
  </section>
  <!-- Modal Mentores -->
    <!-- Modal Equipo-->
    <div class="modal fade" id="{{integrante.nombre}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{integrante.nombre}}Label" ng-repeat="integrante in equipo.integrantes">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>s
          </div>
          <div class="modal-body modalEquipo">
            <article class="modalMedalla">
              <img ng-src="/assets/img/Perfiles/{{integrante.foto}}" alt="Foto de {{integrante.nombre}}" />
              <h4><span>{{integrante.nombreCompleto}}</span></h4>
              <h4 class="carreraModal">{{integrante.carrera}}</h4>
              <a href="https://twitter.com/{{integrante.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </article>
            <article class="modalInfo">
              <h2><span>EQUIPO ORGANIZADOR</span></h2>
              <h3>{{integrante.subtitulo}}</h3>
              <h4>{{integrante.descripcionCorta}}</h4>
              <p>{{integrante.descripcion}}</p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Jueces -->
    <div class="modal fade" id="{{juez.nombre}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{juez.nombre}}Label" ng-repeat="juez in equipo.jueces">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>s
          </div>
          <div class="modal-body modalEquipo">
            <article class="modalMedalla">
              <img ng-src="/assets/img/Perfiles/{{juez.foto}}" alt="Foto de {{juez.nombre}}" />
              <h4><span>{{juez.nombreCompleto}}</span></h4>
              <h4 class="carreraModal">{{juez.carrera}}</h4>
              <a href="https://twitter.com/{{juez.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </article>
            <article class="modalInfo">
              <h2><span>EQUIPO ORGANIZADOR</span></h2>
              <h3>{{juez.subtitulo}}</h3>
              <h4>{{juez.descripcionCorta}}</h4>
              <p>{{juez.descripcion}}</p>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Mentores -->
    <div class="modal fade" id="{{mentor.nombre}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{mentor.nombre}}Label" ng-repeat="mentor in equipo.mentores">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>s
          </div>
          <div class="modal-body modalEquipo">
            <article class="modalMedalla">
              <img ng-src="/assets/img/Perfiles/{{mentor.foto}}" alt="Foto de {{mentor.nombre}}" />
              <h4><span>{{mentor.nombreCompleto}}</span></h4>
              <h4 class="carreraModal">{{mentor.carrera}}</h4>
              <a href="https://twitter.com/{{mentor.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </article>
            <article class="modalInfo">
              <h2><span>EQUIPO ORGANIZADOR</span></h2>
              <h3>{{mentor.subtitulo}}</h3>
              <h4>{{mentor.descripcionCorta}}</h4>
              <p>{{mentor.descripcion}}</p>
            </article>
          </div>
        </div>
      </div>
    </div>

</section>
