@import 'sidebar.css';
@import 'home.css';
@import 'acercade.css';
@import 'sponsors.css';
@import 'agenda.css';
@import 'faq.css';
@import 'beca.css';
@import 'apoyo.css';
@import 'evento.css';
@import 'contacto.css';
@import 'footer.css';
@import 'equipo.css';
@import 'registro.css';
@import '404.css';

@font-face {
  font-family: 'Avenir';
  src: url('font/avenir.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'front';
  src: url('font/front.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'front_out';
  src: url('font/front_out.ttf'); /* IE9 Compat Modes */
}


* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EFEFEF;
	font-family: Avenir;

}
span {
  color: #F40C5A;
}
a{
  text-decoration: none;
}

a:hover,a:active, a:focus{
	text-decoration: none;
}

h1,h2,h3,h4{
  font-family: front !important;
  letter-spacing: -4px;
}

.special_font{
      font-family: front_out !important;
    letter-spacing: -3px;
    font-weight: 100;
    color: #b9b9b9 !important;
}