#sponsors {
  background-color: white;
}
#sponsors header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
#sponsors header h4 {
  color: black;
}
#sponsors .GE {
  text-align: center;
  color: white;
}
#sponsors h2 {
  text-align: center;
}
#sponsors .patrocinador {
  padding: 5px 0;
  margin: 5px 0;
}
#sponsors .patrocinador:nth-child(3){
  padding-top: 60px;
}
.sponsorsImg {
  vertical-align: bottom;
}

.GE img{
      height: 216px;
}

.tec{
  padding-top: 64px;
}
.tec img{
  min-height: 100px
}
.brand .col-md-3{
  width: 20%;
}

.mlh{
 margin-bottom: 50px;
}
.mlh img{
  max-width: 120px;
}

.sable{
margin-top: -15px;
}
.dev{
  margin-top: 15px;
}
.sable img{
  height: 154px;
}

.guru{
      margin-top: 15px;

}
.guru img{
      height: 70px;
}

.rappi{
      margin-top: 12px;
}
.rappi img{
      height: 149px;
}
.in{
  margin-top: 20px;
}
.in img{
      height: 80px;
}
.plat img{
  width: 140px;
  margin-top: 40px;
}
.tundra{
      margin-top: 10px;
}

.tundra img{
      height: 100px;
}

    .only-mobile{
      display: none;
    }

@media (max-width: 992px) {
  .brand .col-md-3{
  width: 100%;
}

    .only-mobile{
      display: block;
    }
    .no-mobile{
      display: none;
    }
.mlh{
 margin-top: 20px;
 margin-bottom: 20px;
}
      .sable img {
    height: 163px;
}
.rappi img{
  height: 123px;
}
.guru, .tundra{
  margin-top: 55px;
}
}