<section id="sponsors" class="col-xs-12" ng-controller="sponsorsCrl as sponsors">
  <header class="col-xs-12">
    <div>
      <div class="rayitaSubitulo"></div>
      <div class="rayitaSubitulo2"></div>
    </div>
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2"><span>Sponsors</span></h2>
    <h4 class="col-xs-12 col-sm-6 col-sm-offset-3">MXHACKS no sería posible sin el increíble apoyo de estos organismos. Si te gustaría apoyarnos da <a href="#/#contacto"><span>clic aquí</span></a>

  </header>
<div class="container">
    <div class="row">
      <div class="col-sm-6  GE">
        <a target="_blank" href="http://www.ge.com/">
            <img class="" src="/assets/img/sponsors/{{sponsors.estrella}}" alt="Logo de General Electrics">
        </a>
      </div>

      <div class="col-sm-6  text-center tec">
        <a target="_blank" href="http://www.itesm.mx/">
          <img class="" src="assets/img/sponsors/tec.jpg" alt="">
        </a>
      </div>
  </div>
  
  <br>

  
  <div class="row others">


    <div class="col-md-6 text-center rappi">
      <a target="_blank" href="https://www.rappi.com/">
        <img src="assets/img/sponsors/logoRapi.png" alt="">
      </a>
    </div>

    <div class="col-md-6 text-center"> <a target="_blank" href="http://www.nearshoremx.com">
      <img src="assets/img/sponsors/nds.png" alt="">
    </a></div>

  </div>

    <div class="row">
     <div class="col-md-12 text-center mlh"> 
     <a target="_blank" href="https://mlh.io/"><img src="assets/img/sponsors/mlh-logo-color.svg" alt=""></a>
    </div>
  </div>

 <div class="row brand">

     <div class="col-md-3 text-center plat"><a target="_blank" class="" href="https://platzi.com/">
       <img style="  width: 140px;
  margin-top: 40px;" src="assets/img/platzi.png" alt="">
     </a></div>
     <div class="col-md-3 text-center dev"><a target="_blank" href="http://devf.mx/">
       <img src="assets/img/devf-logo-black.png" alt="">
     </a></div>
      <div class="col-md-3 text-center sable"> <a target="_blank" href="http://sable.mx/">
          <img src="assets/img/sponsors/logoSable.svg" alt="">
        </a>
      </div>
      <div class="col-md-3 text-center tundra"> 
      <a target="_blank" href="https://www.facebook.com/TundraMX/">
        <img src="assets/img/sponsors/tundra.png" alt="">
      </a></div>

    <div class="col-md-3 text-center in">
      <a target="_blank" href="https://inventivehack.com/blog/">
        <img src="assets/img/sponsors/inventive.svg" alt="">
      </a>
    </div>


  </div>

</div>


<!--   <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="col-md-6 patrocinador" ng-repeat="patrocinador in sponsors.patrocinadoresGold">
      <a href="{{patrocinador.vinculo}}">
        <img class="col-xs-12 col-sm-6 col-sm-offset-3 sponsorsImg" ng-src="/assets/img/sponsors/{{patrocinador.img}}" alt="{{patrocinador.name}}">
      </a>
    </div>
    <h4 class="col-xs-12 text-center" id="aliados"><span>Aliados</span></h4>
    <div class="col-xs-6 col-sm-3 patrocinador" ng-repeat="patrocinador in sponsors.patrocinadoresSilver">
      <a href="{{patrocinador.vinculo}}">
        <img class="col-xs-12 col-sm-6 col-sm-offset-3" ng-src="/assets/img/sponsors/{{patrocinador.img}}" alt="{{patrocinador.name}}">
      </a>

    </div>
  </div> -->
</section>
