extends layout

block content

  .container.apply
    .content-box
      h3 12 y 13 de noviembre
      h5 tec de monterrey, campus santa fe
      p
        | Ingenieros, deseñadores, creadores... los imparables. 
        br 
        | Los que jamás dejarán de intentarlo, sean bienvenidos!
  
  .container.about
    h2 acerca de mxhacks
    h4 ¡Ya está aqui ese momento del semestre!
    
    p 
      | Ingenieros, diseñadores, creadores…Los imparables. Los que el sueño no los 
      | va a detener. Los que una fiesta no los va a distraer. Los que la 
      | frustración jamás los va a parar. Los que jamás dejarán de intentarlo. Los 
      | que no tienen miedo de ver destruidas sus ideas una y otra vez. Los 
      | testarudos que piensan que tienen lo necesario para ser escuchados.
      | Los incrédulos que piensan que pueden cambiar la manera en que las cosas 
      | son. Sean bienvenidos a MXHacks IV.

  .container.sponsor
    h2 sponsors
    h4 MXHACKS no sería posible sin el increíble apoyo de estos organismos. Si te 
      | gustaría subir a bordo, ponte en contacto con nosotros.
    
