doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Tangerine')
  body
    block content
    
    
