extends layout

block style
	link(rel="stylesheet", href="stylesheets/registro.css")
	link(rel="stylesheet", href="vendor/animate.css")

block content
	.registro
		.container
			.col-xs-8.col-xs-offset-2.conten_reg
					.row
						.col-sm-4.foto.text-center
							.alerto.animated.bounceIn.infinite !
							img(src="images/hey.png", alt="")
						.col-sm-8.saludo
							br
							h2 ¡Hola!
							h3 SPIDERMAN57@gmail.com
					.row.process
							.circle
							.circle
							.circle

					hr


